{% extends 'detalleBase.html' %}
{% block contenidoTitulo %}
<h1 class="section-title position-relative mb-5 colorWhite">Detalle de la Escuela</h1>
{% endblock %}
{% block contenido %}
<p><b>Nombre:</b> {{ escuela.nombre }}</p>
<p><b>Primera Aparicion:</b> {{ escuela.primeraAparicion }}</p>
<p><b>Especialidad:</b> {{ escuela.especialidad }}</p>
<p><b>Localizacion:</b> {{ escuela.localizacion }}</p>
<p><b>Director/a:</b> {{ escuela.directora }}</p>
<p><b>Descripción:</b> {{ escuela.descripcion }}</p>
{% endblock %}
{% block imagenContenido %}
<img class="position-absolute w-100 h-100" src="{{ escuela.image_url }}" style="object-fit: contain;" alt="imagen escuela">
{% endblock %}

{% block tituloRelaciones %}
<h1 class="section-title position-relative mb-5">Personajes</h1>
{% endblock %}

{% block contenidoRelaciones %}
{% for personaje in escuela.personajes.all %}
    <div class="service-item p-3">
        <div class="service-img mx-auto">
            <img class="rounded-circle w-100 h-100 bg-light p-3" src="{{ personaje.image_url }}" style="object-fit: contain;">
        </div>
        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">{{ personaje.nombre }}</h5>
            <a href="{% url 'detallePersonaje' personaje.id %}" class="border-bottom border-secondary text-decoration-none text-secondary">Info</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
    <h2>Personajes</h2>
    <ul>
    {% for personaje in escuela.personajes.all %}
        <li>
            <a href="{% url 'detallePersonaje' personaje.id %}">
                {{ personaje.nombre }}
            </a>
        </li>
    {% empty %}
        <li>No hay personajes asociados a esta escuela.</li>
    {% endfor %}
    </ul>

