{% extends 'detalleBase.html' %}
{% block contenidoTitulo %}
<h1 class="section-title position-relative mb-5 colorWhite">Detalle de Personaje</h1>
{% endblock %}
{% block contenido %}
    <p><b>Nombre:</b> {{ personaje.nombre }}</p>
    <p><b>Clase:</b> {{ personaje.clase }}</p>
    <p><b>Genero:</b> {{ personaje.genero }}</p>
    <p><b>Cumpleaños:</b> {{ personaje.cumpleaños }}</p>
    <p><b>Afiliacion:</b> {{ personaje.afiliacion }}</p>
    <p><b>Poderes / Armas:</b> {{ personaje.poderes }}</p>
    <p><b>Origen:</b> {{ personaje.origen }}</p>
    <p><b>Descripción:</b> {{ personaje.descripcion }}</p>
{% endblock %}
{% block imagenContenido %}
<img class="position-absolute w-100 h-100" src="{{ personaje.image_url }}" style="object-fit: contain;" alt="imagen personaje">
{% endblock %}
