{% extends 'listasBase.html' %}
{% block contenidoTitulo %}
<h1 class="section-title position-relative mb-5">Lista de Personajes</h1>
{% endblock %}
{% block contenido %}
    {% for personaje in personaje_list %}
    <div class="service-item p-3">
        <div class="service-img mx-auto">
            <img class="rounded-circle w-100 h-100 bg-light p-3" src="{{ personaje.image_url }}" style="object-fit: contain;">
        </div>
        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">{{ personaje.nombre }}</h5>
            <a href="{% url 'detallePersonaje' personaje.id %}" class="border-bottom border-secondary text-decoration-none text-secondary">Info</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block titulo %}
<h1 class="display-3 text-white mb-md-4">Personajes</h1>
{% endblock %}

{% block tituloinformacion %}
<h1 class="section-title position-relative text-center mb-5">Sobre los personajes</h1>
{% endblock %}

{% block informacion %}
<p>Los personajes principales de Winx Club son un grupo diverso de hadas que destacan por sus personalidades únicas, habilidades mágicas y profundo vínculo de amistad. Como equipo, enfrentan juntos numerosos desafíos, combinando sus poderes y fortalezas individuales para superar obstáculos y proteger los reinos mágicos.</p>
<p>A lo largo de la serie, los personajes muestran un notable crecimiento personal. Desde sus inseguridades iniciales hasta la confianza plena en sus capacidades, cada una evoluciona en su camino, aprendiendo importantes lecciones sobre liderazgo, trabajo en equipo y superación. Además, cada hada refleja valores como la empatía, el coraje, la creatividad y la perseverancia, lo que las convierte en modelos de inspiración para los espectadores.</p>
{% endblock %}
