{% extends 'listasBase.html' %}
{% block contenidoTitulo %}
<h1 class="section-title position-relative mb-5">Lista de Temporadas</h1>
{% endblock %}
{% block contenido %}
    {% for temporada in temporada_list %}
    <div class="service-item p-3">
        <div class="service-img mx-auto">
            <img class="rounded-circle w-100 h-100 bg-light p-3" src="{{ temporada.image_url }}" style="object-fit: contain;">
        </div>
        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">{{ temporada.nombre }}</h5>
            <p>Temporada {{ temporada.numeroTemporada }}</p>
            <a href="{% url 'detalleTemporada' temporada.id %}" class="border-bottom border-secondary text-decoration-none text-secondary">Info</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block titulo %}
<h1 class="display-3 text-white mb-md-4">Temporadas</h1>
{% endblock %}

{% block tituloinformacion %}
<h1 class="section-title position-relative text-center mb-5">Sobre las temporadas</h1>

{% endblock %}

{% block informacion %}
<p>Winx Club es una serie animada que sigue a Bloom, una joven que descubre ser un hada con poderes únicos. En la academia mágica Alfea, forma el Winx Club junto a sus amigas Stella, Flora, Musa, Tecna y Aisha. Juntas enfrentan amenazas como las Trix, Valtor y otros villanos, protegiendo los reinos mágicos mientras exploran el valor de la amistad y el trabajo en equipo.</p>
<p>Cada temporada introduce nuevos desafíos, transformaciones como Enchantix y Believix, y el crecimiento personal de las protagonistas, quienes descubren secretos de su origen y superan sus límites. Winx Club combina magia, aventura y autodescubrimiento, cautivando a millones con su universo lleno de posibilidades.</p>
{% endblock %}