
body {
    background-color: #ffe4e1; 
    color: #4a4a4a; 
}


#header {
    background-color: #ff69b4; 
    border-bottom: 2px solid #ff1493; 
}

#header h1 {
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
}

#logout-form button{
    color: #ff1493;
}
button, input[type="submit"], .button {
    background-color: #ff1493; 
    color: #ff69b4;
    border: 1px solid #ff69b4; 
    padding: 8px 8px;
    border-radius: 5px;
}

button:hover, input[type="submit"]:hover, .button:hover {
    background-color: #ff69b4; 
}


#nav-sidebar {
    background-color: #ffc0cb; 
    color: #4a4a4a;
    border-right: 2px solid #ff69b4;
}

#nav-sidebar a {
    /*color: #ffffff;*/
    text-decoration: none;
}

#nav-sidebar a:hover {
    color: #ffffff;
    background-color: #ff69b4;
}


table {
    border: 1px solid #ff69b4;
    background-color: #fff0f5; 
}

th {
    background-color: #ff69b4;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #ffe4e1; 
}

tr:nth-child(odd) {
    background-color: #fff0f5; 
}


form {
    background-color: #ffe4e1;
    border: 1px solid #ff1493;
    padding: 15px;
    border-radius: 8px;
    color: #ff1493;
}
#content-related .module h2{
    background-color: #ff69b4;
    color: #ffffff;
}
.app-auth{
    background-color: #ffe4e1; 
}
.module caption{
    background-color: #ff1493;
    color:#ffffff;
}

.app-winxAPP{
    background-color: #ffe4e1; 
}
